
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo </title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <link href="jsonTree.css" rel="stylesheet" />
    <script src="jsonTree.js"></script>
	<script type="text/javascript" src="canvas-all.js"></script>
</head>

<body>
    <div class="container-fluid">
		<button id="publishbutton">publish</button>
        <div class="jumbotron">
            <h1 class="display-4"> Canvas App Workinga as Expected, Few Observations </h1>
        </div> 
     
        <p>
            <div id="reqCode">

            </div>
        </p>

    </div>  
    <script>
		let title = "<%= title %>"  ;
        let req = "<%= req %>"  ; 
		const spliter = req.includes("&quot;") ? "&quot;" : "&#34;";
        var decodedString = req.split(spliter).join('"')  ;  
        var wrapper = document.getElementById("reqCode"); 
        // or from a string by JSON.parse(str) method
        var dataStr = decodedString;
        try {
            var data = JSON.parse(dataStr);
        } catch (e) {}

        // Create json-tree
        var tree = jsonTree.create(data, wrapper);  

			Sfdc.canvas.client.subscribe(data.client,
				{name : "myevent", onData : function (event) {
					console.log(event.data)
				}}
			);


		document.getElementById("publishbutton").onclick = () => {
			Sfdc.canvas.client.publish(data.client,
				{name : "yourevent", payload : {data : "DATA: APP to SF"}});
		}
    </script>
</body> 
</html>    